<!DOCTYPE html>
<html>
    <head>
        <title>Titan Embeds</title>
        <style>
            body {
                background-color: #7986cb;
            }
            
            #popup {
                color: white;
            }
            
            a {
                color: Azure;
            }
            
            img {
                width: 100%;
                max-width: 600px;
            }
            
            iframe {
                width: 100%;
                height: 100vh;
                left: 0px;
                top: 0px;
                border: none;
            }
            
            body {
                margin: 0px;
            }
        </style>
        <script>
            !function(T,i,t,a,n){T.GoogleAnalyticsObject=t;T[t]||(T[t]=function(){
            (T[t].q=T[t].q||[]).push(arguments)});T[t].l=+new Date;a=i.createElement('script');
            n=i.scripts[0];a.src='//www.google-analytics.com/analytics.js';
            n.parentNode.insertBefore(a,n)}(window,document,'ga');
            
            ga('create', 'UA-97073231-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div id="popup">
            <a href="https://titanembeds.com/" target="_blank"><img src="https://i.imgur.com/YXfeBkn.png"></a>
            <h1>Hello. We've got a new domain!</h1>
            <p>Did you know that Titan Embeds upgraded to a new domain? If you happen to be the webmaster and seeing this popup, please update your embed url to our <a href="https://titanembeds.com/" target="_blank">new domain (https://titanembeds.com/)</a>.</p>
            <p>The current domain that this embed is currently running on is deprecated and will not be maintained anymore. There is not an exact set date of when the domain will no longer in use, but the domain will become broken after our TLS certificate expires on November 27th, 2017.</p>
            <p>Please visit our <a href="https://discord.io/Titan" target="_blank">support server</a> if you have any pressing questions.</p>
            <hr>
            <p>Otherwise, carry on and you may <button type="button">Dismiss</button> this overlay.</p>
        </div>
        <iframe src="{{ url }}" style="display: none;"></iframe>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <script>
            $("button").on("click", function () {
                $("#popup").hide();
                $("iframe").show();
                $("iframe").focus();
                $("body").css("background-color", "rgba(0, 0, 0, 0)");
            });
        </script>
    </body>
</html>