<!DOCTYPE html>
<html>
    <head>
        <title>Titan Embeds</title>
        <style>
            body {
                background-color: #091556;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            a {
                color: Azure;
                text-decoration: none;
            }
            
            img {
                width: 100%;
                max-width: 50px;
                -webkit-filter: brightness(0) invert(1);
                filter: brightness(0) invert(1);
                vertical-align: middle;
            }

            h1 {
                display: inline;
            }

            p, ul {
                font-size: 12pt;
            }
        </style>

        <meta name="theme-color" content="#7986cb">
        <link rel="icon" type="image/png" href="{{url_for('static', filename='img/titanembeds_round.png')}}" />
    </head>
    <body>
        <a href="{{ url_for('index') }}" target="_blank">
            <img src="{{url_for('static', filename='img/titanembeds_shield.png')}}" />
            <h1>TitanEmbeds</h1>
        </a>
        <h2>Hello there. As of August 2022, our public instances has been sunsetted.</h2>
        <h3>A public statement from the project lead (@EndenDragon):
        <p>
            I would like to give a huge thanks to all of you who are involved from the project.
            Whether it is our staff members, supporters, and members like you, thank you for the ride for
            the past few years. I had a fantastic experience growing as a technical developer and a customer
            support in order to bring Titan Embeds to you. However, I have since moved on to pursue other
            opportunities which prevented me from maintaining this project as a whole. Although I had hoped to
            continue to keep Titan under maintenance mode for a while, the many changes the bot will need to
            undergo in order to keep itself working for the next few years at a large scale has exceeded far
            from what I can prepare at this moment.<br>

            <strong>So what does this mean?</strong>
            <ul>
                <li>The public instance has now been sunsetted. Features are inaccessible.</li>
                <li>Patreon has been unpublished. We will no longer produce any charges.</li>
                <li>We will no longer provide active support for the TitanEmbeds product.</li>
                <li>Finally, the Github repository will remain available. Feel free to continue to host the bot on your own servers as you wish. This does not change.</li>
            </ul>

            If you have any questions, please let us know in the Titan Embeds Discord server.<br>

            <strong>So with a heavy heart from me and the TitanEmbeds team, we once again thank you for your support
            over the past few years!</strong>
        </p>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    </body>
</html>