<!DOCTYPE html>
<html>
    <head>
        <title>Titan Embeds</title>
        <meta http-equiv="refresh" content="1;URL='https://titanembeds.com/'" />
    </head>
    <body>
        <a href="https://titanembeds.com/" target="_blank"><img src="https://i.imgur.com/YXfeBkn.png"></a>
        <h1>Titan Embeds have moved domain!</h1>
        <p><a href="https://titanembeds.com/">If you haven't been redirected after 5 seconds, click this me to go to our new site.</a></p>
    </body>
</html>