<!DOCTYPE html>
<html>
    <head>
        <title>Titan Embeds</title>
        <meta http-equiv="refresh" content="1;URL='https://titanembeds.com/'" />
        <script>
            !function(T,i,t,a,n){T.GoogleAnalyticsObject=t;T[t]||(T[t]=function(){
            (T[t].q=T[t].q||[]).push(arguments)});T[t].l=+new Date;a=i.createElement('script');
            n=i.scripts[0];a.src='//www.google-analytics.com/analytics.js';
            n.parentNode.insertBefore(a,n)}(window,document,'ga');
            
            ga('create', 'UA-97073231-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <a href="https://titanembeds.com/" target="_blank"><img src="https://i.imgur.com/YXfeBkn.png"></a>
        <h1>Titan Embeds have moved domain!</h1>
        <p><a href="https://titanembeds.com/">If you haven't been redirected after 5 seconds, click this me to go to our new site.</a></p>
    </body>
</html>